.section {
   @apply relative h-screen
   max-md:h-screen;
}

.title {
   @apply flex mx-auto justify-center p-2  w-4/12
   text-5xl font-semibold text-violet-600 max-md:w-6/12
   border-b-2 border-violet-500   hover:border-b-4 hover:border-violet-700 duration-300;
}

.skillsP {
   @apply py-2
    text-center text-gray-600 text-sm;
}

.container {
   @apply grid grid-cols-2 text-center
    max-md:grid-cols-1 
    max-sm:grid-cols-1;
}

.secondContainer {
   @apply py-2 text-violet-700;
}

.dropdownContainer {
   @apply flex items-center  mx-16 mt-5 mb-5  py-2
    border-b-2
   cursor-pointer  border-violet-700
   hover:scale-110 duration-200 hover:border-b-2 hover:border-violet-700;
}

.skillContainer {
   @apply flex text-violet-700 mx-auto items-center;
}

.skillSubContainer {
   @apply block
    items-center;
}

.skillIcon {
   @apply text-5xl
   hover:-translate-y-1 hover:scale-110 duration-200 hover:rotate-90;
}

.skillTitle {
   @apply mx-8 
   font-semibold text-violet-700 text-2xl
   border-b-2 border-transparent
   hover:scale-110 duration-200 hover:border-b-2 hover:border-violet-700;
}

.skillP {
   @apply text-base text-gray-500;
}

.upDownIcon {
   @apply text-4xl
   hover:rotate-12 duration-200;
}

.skillsListContainer {
   @apply w-9/12 relative mx-auto     
   hover:-translate-y-1 hover:scale-110 duration-200;
}

.listContainerItems {
   @apply flex justify-between;
}

.skillItemName {
   @apply text-gray-600 mb-1 text-base font-medium;
}

.skillItemPercentage {
   @apply relative right-0 top-0 mb-1 
   text-base font-medium text-gray-600;
}

.percentageBar {
   @apply h-1.5 mb-4
   bg-gray-200 rounded-full  dark:bg-gray-700;
}

.percentage100 {
   @apply w-full h-1.5 
   bg-violet-600
   rounded-full 
   dark:bg-violet-500;
}
.percentage60 {
   @apply w-8/12 h-1.5 
   bg-violet-600
   rounded-full 
   dark:bg-violet-500;
}
.percentage70 {
   @apply w-9/12 h-1.5 
   bg-violet-600
   rounded-full 
   dark:bg-violet-500;
}
.percentage80 {
   @apply w-10/12 h-1.5 
   bg-violet-600
   rounded-full 
   dark:bg-violet-500;
}
