/*-------------------------------------------------------- PRESENTATION -------------------------------------------------------- */

.presentationBg {
   @apply bg-violet-500 min-h-screen;
}

.presentation {
   @apply grid mt-24 relative mx-40 grid-cols-2
   max-lg:grid-cols-1 
   max-lg:mt-10 max-lg:mx-5 max-lg:text-center max-lg:justify-center;
}

.firstDiv {
   @apply py-0;
}

.title {
   @apply py-2
text-white
   text-4xl font-semibold 
   border-b-2 border-transparent hover:border-b-2 hover:border-white duration-300
   max-lg:grid-cols-1 max-lg:text-center 
   max-lg:mx-5 max-lg:justify-center max-lg:inline-block;
}

.resume {
   @apply mx-auto justify-center py-4 
   text-white font-thin
   max-w-4xl text-base
   max-lg:px-8;
}

.contactButton {
   @apply my-4 px-5 py-2.5 flex items-center text-center
   transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 
   hover:bg-violet-200 hover:text-violet-800 hover:border-violet-800 hover:border-4
   text-xl text-white
   border-2  border-white
   max-sm:mt-2
   max-lg:mx-auto;
}

.contactIcon {
   @apply px-2 text-white 
   max-sm:flex max-sm:justify-center;
}

.perfilImg {
   @apply flex ml-auto my-4 
   shadow-2xl  
   rounded-2xl
   max-md:mb-5 max-md:mx-auto
   max-lg:mx-auto my-5;

   width: 380px;
}

.scrollDown {
   @apply flex py-4 my-4 justify-center items-center absolute bottom-5 left-0 right-0 mx-auto
   text-white mt-2
   max-lg:relative max-sm:justify-center;
}
.scrollDownText {
   @apply px-2;
}

/*-------------------------------------------------------- ABOUT -------------------------------------------------------- */

.aboutSection {
   @apply text-center relative;
   min-height: 100vh;
}

/* 
.aboutFirstDiv  {
   @apply ;
} */

.aboutTitle {
   @apply text-center mx-auto p-2 w-4/12 
   font-semibold text-violet-700 text-4xl
   border-b-2 border-violet-500   hover:border-b-4 hover:border-violet-700 duration-300;
}

.aboutSubTitle {
   @apply mt-5 text-violet-700 text-center text-sm;
}

.imgContainer {
   @apply grid-cols-2 grid  mt-10 items-center
   max-lg:grid-cols-1
   max-md:grid-cols-1
   max-sm:grid-cols-1 max-sm:mt-5 max-sm:mx-5 max-sm:text-center max-sm:justify-center;
}

.aboutImg {
   @apply my-10  justify-center self-center mx-auto shadow-sm
   rounded-full border-4 border-violet-300
   hover:-translate-y-1 hover:scale-110 duration-200
   hover:shadow-xl;
   width: 28rem;
}

.aboutDesc {
   @apply grid
   transition ease-in-out delay-200
   hover:-translate-y-1 hover:scale-110 duration-200;
}

.aboutDescription {
   @apply mx-auto py-2 p-6
    max-w-xl
    transition ease-in-out delay-150
    hover:-translate-y-1 hover:scale-110  duration-200
    text-violet-700 shadow-sm rounded-2xl
    hover:shadow-2xl;
}

.experiences {
   @apply p-4 flex justify-evenly;
}

.experiencesBorder {
   @apply border-2 p-4 mx-2 border-violet-300 rounded-3xl
   shadow-sm
   hover:-translate-y-1 hover:scale-110 duration-200;
}

.experiencesYear {
   @apply block 
   text-center text-xl text-violet-700 font-semibold;
}

.experiencesText {
   @apply block 
   text-center text-violet-700 font-thin text-lg;
}

.guarantee {
   @apply flex w-full absolute bottom-0 justify-evenly 
   bg-yellow-300 my-auto mx-auto
   max-md:px-16 max-md:block 
   max-lg:relative;
}

.quarantees {
   @apply w-1/3
   max-md:mx-auto  max-md:px-4;
}

.quaranteeItem {
   @apply mt-10 inline-block 
    text-violet-500
    hover:text-violet-700
    transition ease-in-out delay-150
    hover:-translate-y-1 hover:scale-110  duration-200;
   font-size: 5rem;
}

.quaranteeTitle {
   @apply text-center mt-4 mb-2
   text-2xl text-violet-700
   hover:text-violet-900 border-opacity-50 duration-200;
}

.quaranteeP {
   @apply my-4 pb-2
   text-base text-violet-600 font-thin;
}
