@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700&family=Ubuntu:wght@500&display=swap');

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
   font-family: 'Montserrat-Bold';
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
