.section {
   @apply bg-violet-100  relative justify-center h-fit items-center
   text-center;
}

.container {
   @apply w-full py-16
   bg-yellow-300;
}
.footerParag {
   @apply text-3xl px-5 font-bold font-serif
   transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;
   line-height: 4rem;
}

.pToB {
   @apply my-10 inline-block text-5xl justify-center
   transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110
   max-md:flex max-md:w-full;
}

.buttons {
   @apply flex justify-center text-center
   max-md:block;
}

.button {
   @apply my-5 mx-3 pr-3 px-2 py-2 flex items-center
   border-2 border-dashed border-black
   bg-violet-700 text-yellow-300
   hover:bg-black hover:border-white hover:text-white hover:border-solid
   transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110
   max-md:mx-auto;
}

.buttonIcon {
   @apply m-1;
}

.copyright {
   @apply flex items-center py-0 justify-center w-full bottom-0
   text-gray-400;
   height: 20vh;
}
