.nav {
   @apply py-10 align-middle
   sm:px-4 sm:flex sm:justify-center
   md:justify-center 
   rounded;
   font-family: 'Ubuntu', sans-serif;
}

.navDiv {
   @apply container flex flex-wrap items-center justify-between mx-36;
}

.logo {
   @apply left-0 right-0 top-0 relative  p-4
   active:underline 
   text-3xl text-white font-semibold whitespace-nowrap border-b-2;
}

.navItemsContainer {
   @apply w-full 
   md:block md:w-auto border-b-2;
}

.navItems {
   @apply flex flex-col p-4 mt-4 
 border-gray-100
   md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0
   border rounded-lg
   text-gray-300;
   font-family: 'Montserrat-Light';
}

.navItem {
   @apply block py-2 pl-3 pr-4 
   active:underline
   md:bg-transparent md:p-0
   hover:text-gray-100
   
   rounded;
}
