.nav {
   @apply py-10 align-middle
   sm:px-4 sm:flex sm:justify-center
   md:justify-center 
   rounded;
   font-family: 'Ubuntu', sans-serif;
}

.navDiv {
   @apply container flex flex-wrap items-center justify-between ml-36 mr-36;
}

.logo {
   @apply left-0 right-0 top-0 relative  pb-4
   active:underline 
   text-3xl text-white font-semibold whitespace-nowrap 
   border-b-2 border-transparent hover:border-b-2 hover:border-white duration-300;
}

.navItemsContainer {
   @apply w-full 
   md:block md:w-auto
  border-gray-300 hover:border-gray-100;
}

.navItems {
   @apply flex flex-col p-4 mt-4 
   md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0
   text-gray-300;
   font-family: 'Montserrat-Light';
}

.navItem {
   @apply block pt-2 pl-3 pr-4 pb-4
   active:underline
   md:bg-transparent md:p-0
   hover:text-gray-100
   text-lg
   rounded;
}
